<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
	<appSettings>
		<add key="Standalone" value="true"/>
		<!--是否允许单独运行，不经由后台服务启动-->
		<add key="EnableWriteFile" value="true"/>
		<!--开关文件输出-->
		<add key="MaxFileKiloByte" value="10000"/>
		<!--文件最大千字节数-->
		<add key="MaxFileNum" value="10"/>
		<!--每主题最大文件数-->
		<add key="WriteFileInterval" value="2000"/>
		<!--写文件间隔-->
		<add key="FileNameSuffix" value="txt"/>
		<!--文件名后缀-->
		<add key="OutputPath" value=".\Data"/>
		<!--文件输出位置-->
		<add key="HttpIP" value="127.0.0.1"/>
		<!--Http服务端口-->
		<add key="HttpPort" value="9037"/>
		<!--Http服务端口-->
		<add key="TSCPort" value="TSC TTP-244 Pro"/>
		<!--打印机端口-->
	</appSettings>
</configuration>
